---
// 旧 profile.html へのリンク救済用リダイレクト(プロフィールはトップページに統合済み)
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=index.html" />
    <title>金田まり | プロフィール</title>
  </head>
  <body>
    <p><a href="index.html">プロフィールはトップページに移動しました</a></p>
  </body>
</html>
